* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: black;
}



/* main divs */
body {
    background: rgb(162,142,255);
    background: linear-gradient(45deg, rgba(162,142,255,1) 15%, rgba(202,233,255,1) 50%, rgba(145,208,255,1) 85%);
    box-sizing: border-box;
    overflow-x: hidden;
}
main {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    margin: auto;
    width: 70%;
}
header {
    background: rgb(255,231,255);
    background: linear-gradient(45deg, rgba(255,231,255,1) 0%, rgba(215,255,252,1) 100%);
    border-bottom: 3px solid rgba(145,208,255,1);
    box-shadow: 0px 0px 5px #303030;
    margin-bottom: 50px;
    padding: 30px;
    opacity: 0.7;
    width: 100%;
}
header h1{
    color: black;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
}
#wrapper1 {
    background: rgb(255,231,255);
    background: linear-gradient(45deg, rgba(255,231,255,1) 0%, rgba(215,255,252,1) 100%);
    border: 3px solid rgba(145,208,255,1);
    border-radius: 30px;
    box-shadow: 0px 0px 5px #303030;
    padding: 15px;
    opacity: 0.7;
    width: 50%;
}
#wrapper2 {
    width: 50%;
}
#krzyzowka {
    align-items: center;
    display: flex;
    height: 80%;
    justify-content: center;
}
/* main divs */



/* table styles */
table {
    display: flex;
}
tr {
   display: flex;
}
td {
    margin: 2px;
    width: 7%;
}

span /*numbers of questions on crossword*/{ 
    display: block;
    font-size: 30px;
    height: 40px;
    padding: 10px;
    text-align: center;
    width: 40px;
}
/* table styles */



/* all inputs styles */
input {
    background-color: white;
    border: 3px solid rgb(162,142,255);
    border-radius: 10px;
    box-shadow: 0px 0px 2px #303030;
    color: black;
    cursor: pointer;
    font-weight: bold;
    font-size: 35px;
    height: 60px;
    text-align: center;
    text-transform: uppercase;
    opacity: 0.8;
    width: 100%;
}
input[type="button"] {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin: 15px;
    padding: 5px 10px;
    opacity: 1;
}
input:hover {
    background-color: rgb(224, 216, 255);
    transition-duration: 200ms;
}
input:focus {
    background-color: rgb(224, 216, 255);
    transition-duration: 200ms;
}
input::placeholder {
    color: #303030;
    font-size: 18px;
    left: -18px;
    position: relative;
    top: -18px;
    opacity: 0.7;
}
.f0, .f1, .f2, .f3, .f4, .f5, .f6, .f7, .f8, .f9, .f10 {
    opacity: 1;
}
/* all inputs styles */



/* reset and submit buttons */
#buttons-and-answers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
#reset {
    width: 40%;
}
#submit {
    width: 40%;
}
/* reset and submit buttons */



/* answer divs */
#answer {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}
#answer p {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
}
#user-final-result {
    height: 20px;
    margin-bottom: 30px;
    padding: 10px;
}
#p-user-final-result{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.answer-letter {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgba(145,208,255,1);
    border-radius: 8px;
    box-shadow: 0px 0px 2px #303030;
    height: 50px;
    padding: 5px;
    width: 60px;
}
/* answer divs */



/* questions */
#questions {
    background: rgb(255,231,255);
    background: linear-gradient(45deg, rgba(255,231,255,1) 0%, rgba(215,255,252,1) 100%);
    border: 3px solid rgba(145,208,255,1);
    border-radius: 30px;
    box-shadow: 0px 0px 5px #303030;
    font-size: 21px;
    margin: auto;
    opacity: 0.7;
}
.question {
    margin: 5px;
    padding: 15px;
    text-align: justify;
}
/* questions */



/* footer */
footer {
    background-color: white;
    border-top: 3px solid rgba(145,208,255,1);
    box-shadow: 0px 0px 5px #303030;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    opacity: 0.7;
    width: 100%;
}
/* footer */



/* media width controll */
@media only screen and (max-width: 1950px) {
    /* For smaller windows: */
    main {
      flex-wrap: wrap;
    }
    #wrapper1 {
        width: 80%;
    }
    #wrapper2 {
        width: 80%;
    }
}
@media only screen and (max-width: 1200px) {
    /* For mobile phones */
    main {
      flex-wrap: wrap;
      width: 95%;
    }
    #wrapper1 {
        width: 100%;
    }
    #wrapper2 {
        width: 100%;
    }
}
/* media width controll */