* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #303030;
}
body {
    box-sizing: border-box;
    background: rgb(162,142,255);
    background: linear-gradient(45deg, rgba(162,142,255,1) 15%, rgba(202,233,255,1) 50%, rgba(145,208,255,1) 85%);
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    gap: 3vh;
}
header h1{
    text-align: center;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 60px;
}
#wrapper {
    opacity: 0.7;
    border-radius: 3vw;
    background: rgb(255,231,255);
    background: linear-gradient(45deg, rgba(255,231,255,1) 0%, rgba(215,255,252,1) 100%);
    box-shadow: 0px 0px 5px #303030;
    border: 3px solid rgba(145,208,255,1);
}
input {
    color: black;
    width: 60px;
    height: 60px;
    background-color: white;
    border: 3px solid rgb(162,142,255);
    border-radius: 1vw;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    box-shadow: 0px 0px 2px #303030;
}
span {
    display: block;
    width: 40px;
    height: 40px;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    
}
/* input:active {
    border: 3px solid rgb(30, 0, 165);
} */
#krzyzowka {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type="reset"],input[type="button"] {
    font-size: 15px;
    width: 20%;
    padding: 5px 10px;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    display: inline-block;
}
.result {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgba(145,208,255,1);
    border-radius: 8px;
    box-shadow: 0px 0px 2px #303030;
}
#result-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
#reset {
    width: 30%;
}
#submit {
    width: 30%;
}
#result {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}
#result p {
    font-size: 25px;
    text-transform: capitalize;
    text-align: center;
}
#user-final-result {
    height: 20px;
    padding: 10px;
    margin-bottom: 30px;
}
#user-final-result p{
    font-size: 30px;
    text-align: center;
}